.sidebar_top>img{
    height: 100px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    margin-bottom: -20px;
}
.sidebar{
    position: sticky;
    top: 0%;
    z-index: -1;
    flex: 0.2;
    padding: 100px;
    padding-top: 25px;

}
.sidebar_avatar{
    margin-bottom: -10px;
}
.sidebar_top{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
    padding-bottom:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: none;
    padding-bottom: 10px;
}
.sidebar_top>h2{
    color: black;
    font-size: 16px;
    margin-bottom: -10px;
}
.sidebar_top>h4{
    color: gray;
    font-size: 12px;
    margin-bottom: 1px;
}
.sidebar_stats{
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid lightgray;
    border-top: none;
}
.sidebar_bottom{
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;

}
.sidebar_stat{
    display: flex;
    justify-content: space-between;
}
.sidebar_stat>p{
    color: grey;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: -1px;
}
.sidebar_stateNumber{
    font-weight: bold;
    color: #0a66c2 !important;
}
.sidebar_recentItem{
    display: flex;
    font-size: 14px;
    color: grey;
    font-weight: bolder;
    cursor: pointer;
    padding: 2px;
    margin-bottom: -12px;
}
.sidebar_recentItem:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;

}
.sidebar_hash{
    margin:13px;
    margin-right: 2px;

}
.sidebar_bottom>p{
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 1px;
}